:root {
  /* Breakpoints */
  --breakpoint-mobile: 40em;
  --max-width-content: 100vw;

  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-slate: #708090;
  --color-hot-pink: #FF69B4;

  /* Themeing */
  --theme-background-color: var(--color-white);
  --theme-background-color-inverse: var(--color-black);
  --theme-font-color: var(--color-black);
  --theme-font-color-inverse: var(--color-white);
  --theme-primary-color: var(--color-black);
  --theme-secondary-color: var(--color-slate);
  --theme-accent-color: var(--color-hot-pink);
  --theme-primary-border-color: var(--color-black);
  --theme-secondary-border-color: var(--color-slate);
}

html
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--theme-background-color);
  /* Avoids horizontal shift when scrollbar is needed; */
  width: 100vw;
}

body {
  width: 100vw;
  background: var(--theme-background-color);
  margin: auto;

  @media only screen and (min-width: 48rem) {
    width: fit-content;
  }
}


