html
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  /* Avoids horizontal shift when scrollbar is needed; */
  width: 100vw;
}

body {
  width: 1080px;
  height: 100vh;
  margin: auto;
}


