---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import headShot from "../assets/images/justin-bird-headshot.jpg";

const blogPosts = await Astro.glob("./blog/*.md");
---

<style>
  .row {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;

    @media only screen and (min-width: 48rem) {
      flex-direction: row;
    }
  }

  .row__item {
    @media only screen and (min-width: 48rem) {
      border: 4px solid var(--theme-primary-border-color);
      box-shadow: 5px 5px var(--theme-seconday-border-color);
      padding: 0.5em 0.5em 2em 0.5em;
    }
  }

  h2 {
    text-transform: uppercase;
    text-shadow: 1px 1px var(--theme-secondary-border-color);
    margin: 0;
    display: block;
  }

  .section-header {
    @media only screen and (min-width: 48rem) {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  .see-more {
    color: var(--theme-secondary-font-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    & img {
      object-fit: cover;
      border: 4px solid var(--theme-primary-border-color);
      border-radius: 50%;
    }

    & .intro__message {
      & p {
        margin-top: 0;
      }
    }

    @media only screen and (min-width: 48rem) {
      flex-direction: row;
      flex-basis: 67%;
      justify-content: center;
      align-items: center;

      & .intro__message {
        & p {
          margin-top: 0.5em;
        }
      }
    }
  }

  .contact {
    display: none;
    @media only screen and (min-width: 48rem) {
      display: unset;
      flex-grow: 1;

      & h4 {
        margin: 0 0 0.5em 0;
      }

      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      & li {
        margin: 0.25em;
        color: var(--theme-font-color);
      }

      & a {
        text-decoration: none;
        color: inherit;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .blog {
    flex-grow: 1;
    min-height: 200px;
  }

  .read_post {
    display: block;
    width: 5em;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    background: var(--theme-background-color-inverse);
    color: var(--theme-font-color-inverse);
    &:hover {
      text-decoration: underline;
    }
  }
</style>
<BaseLayout title="Justin Bird | Home">
  <secion class="row">
    <article class="row__item intro">
      <Image src={headShot} alt="Justin Bird" width="200" height="200" } />
      <div class="intro__message">
        <h2>Hello, I'm Justin...</h2>
        <p>
          a web developer and general coding hobbyist. Follow along as I work
          through interesting projects and learn new things!
        </p>
      </div>
    </article>
    <article class="row__item contact">
      <h2>Get In Touch</h2>
      <p>
        Need something build?<br />
         Have questions about a blog post?<br />
         Just want to say hi?
      </p>
      <h4>Justin Bird</h4>
      <ul>
        <li>
          <a href="mailto: justin.h.bird@gmail.com">
            <i class="fa-solid fa-envelope"></i>
             justin.h.bird@gmail.com
          </a>
        </li>
        <li>
          <a
            href="https://www.github.com/thewordisbird"
            rel="noopener noreferrer"
            target="_blank"
          >
            <i class="fa-brands fa-square-github"></i>
             @thewordisbird
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/thewordisbird"
            rel="noopener noreferrer"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
             @thewordisbird
          </a>
        </li>
      </ul>
    </article>
  </secion>
  <section>
    <h2 class="section-header">Recent Posts</h2><a class="see-more" href="/blog"
      >see all post...</a
    >
    <div class="row">
      {
        blogPosts.map((post) => (
          <article class="row__item blog">
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.description}</p>
            <a class="read_post" href={post.url}>
              Read Post!
            </a>
          </article>
        ))
      }
      <article class="row__item blog">
        <h3>Placeholder Blog Post: Post 2</h3>
      </article>
      <div class="row__item blog">
        <h3>Placeholder Blog Post: Post 3</h3>
      </div>
    </div>
  </section>
</BaseLayout>
