---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .container {
    width: 100%;
  }
  .row {
    display: flex;
    margin: 1em 0;
    gap: 1em;
  }

  .row__item {
    border: 4px solid var(--color-black);
    box-shadow: 5px 5px var(--color-slate);
    padding: 0.5em 0.5em 2em 0.5em;
  }

  h2 {
    text-transform: uppercase;
    text-shadow: 1px 1px var(--color-slate);
    margin: 0;
    display: block;
  }

  .section {
    display: inline-block;
    margin-right: 0.5em;
  }

  .intro {
    flex-basis: 65%;
  }

  .contact {
    flex-basis: 35%;
    & h4 {
      margin: 0 0 0.5em 0;
}
    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    & li {
      margin: 0.25em;
      color: var(--color-black);
    }

    & a {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
  }

  .blog {
    flex-grow: 1;
    min-height: 200px;
  }
</style>
<BaseLayout title="Justin Bird | Home">
    <secion class="row">
      <article class="row__item intro">
        <h2>About Me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl
          condimentum id venenatis a condimentum. Phasellus faucibus scelerisque
          eleifend donec pretium vulputate. Ultrices vitae auctor eu augue ut
          lectus. Semper auctor neque vitae tempus quam. Tincidunt arcu non
          sodales neque sodales ut.
        </p>
      </article>
      <article class="row__item contact">
        <h2>Get In Touch</h2>
        <p>
          Looking for a software engineer?<br />
           Have questions about a blog post?<br />
           Just want to say hi?
        </p>
        <h4>Justin Bird</>
        <ul>
          <li>
            <a href="mailto: justin.h.bird@gmail.com">
              <i class="fa-solid fa-envelope"></i>
               justin.h.bird@gmail.com
            </a>
          </li>
          <li>
            <a
              href="https://www.github.com/thewordisbird"
              rel="noopener noreferrer"
              target="_blank"
            >
              <i class="fa-brands fa-square-github"></i>
               @thewordisbird
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/thewordisbird"
              rel="noopener noreferrer"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin"></i>
               @thewordisbird
            </a>
          </li>
        </ul>
      </article>
    </section>
    <section>
    <h2 class="section">Recent Posts</h2><a href="/blog">see all post...</a>
    <div class="row">
      <article class="row__item blog">
        <h3>Placeholder Blog Post: Post 1</h3>
      </article>
      <article class="row__item blog">
        <h3>Placeholder Blog Post: Post 2</h3>
      </article>
      <div class="row__item blog">
        <h3>Placeholder Blog Post: Post 3</h3>
      </article>
    </div>
    </section>
</BaseLayout>
