---
import HeaderInfo from "./HeaderInfo.astro";
import HeaderTitle from "./HeaderTitle.astro";

/*
  Responsive Mobile Nav:

  - html only should display the menu at the upper half of the page so the site is navigateable
  - html & css, clicking the button should open and close the menu. clicking outside the menue
    will not work
  - html, css & js: full functionality 

*/
---

<style>
  header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    border-bottom: 4px solid #000;

    @media only screen and (min-width: 40em) {
      flex-direction: column;
    }
  }

  .main-nav {
    width: 100%;
    position: fixed;
    top: 4.5em;
    background: var(--color-black);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;

    @media screen and (min-width: 40em) {
      position: unset;
      max-height: 100%;
      background: var(--color-white);
      display: block;
    }
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    & li {
      border-bottom: 1px solid var(--color-slate);
    }

    @media screen and (min-width: 40em) {
      display: flex;
      justify-content: space-around;
    }
  }

  .nav__item {
    display: block;
    color: var(--color-white);
    margin: 16px;
    text-decoration: none;

    &:hover {
      background: var(--color-slate);
    }
    @media screen and (min-width: 40em) {
      width: 5em;
      display: block;
      text-decoration: none;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      padding: 0.25em;
      background: #000;
      border-radius: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #mobile-nav-trigger {
    width: 2em;
    height: 2px;
    background: var(--color-black);
    border: none;
    align-self: center;
    position: relative;
    padding: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: inherit;
      height: 2px;
      background: var(--color-black);
      position: absolute;
      top: 0.5em;
      transition: all 0.2s ease-out;
    }

    &::after {
      top: -0.5em;
    }

    @media screen and (min-width: 40em) {
      display: none;
    }
  }

  #mobile-nav-trigger:focus,
  #mobile-nav-trigger:focus-within {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  #mobile-nav-trigger:focus ~ nav,
  #mobile-nav-trigger:focus-within ~ nav {
    max-height: 100%;
  }
</style>
<script>
  const navToggle = document.getElementById("mobile-nav-trigger");

  let state = false;
  navToggle!.addEventListener("click", function toggleNav() {
    if (state) {
      navToggle?.blur();
      state = false;
    } else {
      state = true;
    }
  });
</script>
<header>
  <HeaderInfo />
  <HeaderTitle />
  <button type="button" id="mobile-nav-trigger"></button>
  <nav class="main-nav">
    <ul class="menu">
      <li><a class="nav__item" href="/">Home</a></li>
      <li><a class="nav__item" href="/portfolio">Portfolio</a></li>
      <li><a class="nav__item" href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
