---

---

<style>
  header {

    width: var(--max-width-content);
    display: flex;
    justify-content: center;
    padding: 1em 0;
    border-bottom: 4px solid #000;

    @media only screen and (min-width: 40em) {
      flex-direction: column;
    }

    /* Info Block */
    & .info {
      /* 
        For mobile this information will not be displayed
        TODO: Determine where to display this content
              - Maybe this can go below the title between 2 hr's
      */
      display: none;

      /* For all non-mobile viewports */
      @media only screen and (min-width: 40em) {
        display: flex;
        justify-content: space-between;
        height: 2em;

        & .info__text {
          height: 100%;
          font-size: 1em;
          border: 1px solid black;
          border-radius: 4px;;
          display: flex;
          justify-content: center ;
          align-items: center;
          color: #fff;
          padding-left: 0.25em;
          padding-right: 0.25em;
          background: #000;

        }

        & .info__socials {
          font-size: 2em;

          & a {
            color: black;
          }
        }
      }
    }

    /* Title Block */
    & .title {
      --text-shadow-y-offset: 0px;
      --text-shadow-x-offset: 0px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 1em;

      & h1 {
        font-family: "Arial Narrow", Arial, Helvettica, sans-serif;
        font-size: 2em;
        margin: 0;
        /*text-shadow: var(--text-shadow-y-offset) var(--text-shadow-x-offset) var(text-shadow-blur) var(--theme-secondary-color);*/
        text-shadow: var(--text-shadow-x-offset) var(--text-shadow-y-offset) 0 var(--theme-secondary-color);
      }

      /* Medium devices such as tablets (768px and up) */
      @media only screen and (min-width: 40em) {
      --text-shadow-y-offset: 2px;
      --text-shadow-x-offset: 2px;

        margin: auto;
        text-align: center;
      & h1 {
        font-size: 5.65em;
      }
      }
      
      /* Medium devices such as tablets (768px and up) */
      @media only screen and (min-width: 48em) {
        --text-shadow-y-offset: 3px;
        --text-shadow-x-offset: 3px;

        & h1 {
          font-size: 6.8em;
        }
      }
      
      /* Large devices such as laptops (1024px and up) */
      @media only screen and (min-width: 64em) {
        --text-shadow-y-offset: 4px;
        --text-shadow-x-offset: 4px;

        & h1 {
          font-size: 9.125em;
        }
      }

    }

    /* Mobile Navigation Block */
    #mobile-nav-toggle {
      background: none;
      border: none;
      padding: 0;
      margin-left: 1em;
      width: 2em;

      & >  hr {
        height: 0.35em;
        background: #000;
        margin: 0.25em 0;
        border: none;
      }

      @media only screen and (min-width: 40em) {
        display: none;
      }
    }

    [popover] {
    &:popover-open {
      @starting-style {
        opacity: 0;
      }

      opacity: 1;
      position: absolute;
      inset: unset;
      top:4.6em;
      width: 100%;
      height: 100%;
      border: none;
    }

    opacity: 0;
    transition: opacity 1s, dispaly 1s;
    }


    #mobile-nav{
     padding: 0; 
      & > ul {
        all: unset;
        list-style-type: none;
        & > li {
          padding: 0 1em;
          & > .nav__item { 
            font-size: 2em;
            display: block;
            color: black;
            text-decoration: none;

            &:hover {
              background: var(--theme-secondary-color);;
            }
      
          }
        }
      }
    }


    #main-nav {
      display: none;

      @media screen and (min-width: 40em) {
        font-size: 1.5em;
        display: block;
        

        & > ul {
        margin: 0;
          display: flex;
          justify-content: space-around;

          & li {
            all: unset;
            width: 5em;

            & .nav__item {
              display: block;;
              text-decoration: none;
              margin: 0 auto;
              text-align: center;;
              color: #fff;
            padding: 0.25em;
            background: #000;
            border-radius: 4px;

              &:hover {

                text-decoration: underline;
              }
            }

        }

      }
    }
  }
</style>
<header>
  <div class="info">
    <div class="info__text">
      <p>
        Justin Bird
      </p>
    </div>
    <div class="info__text">
     <p>
      Los Angeles, Ca 
    </p>
    </div>
    <div class="info__socials">
      <a
        href="https://github.com/thewordisbird"
        rel="noopener noreferrer"
        target="_blank"><i class="fa-brands fa-square-github"></i></a
      >
      <a
        href="https://www.linkedin.com/in/thewordisbird/"
        rel="noopener noreferrer"
        target="_blank"><i class="fa-brands fa-linkedin"></i></a
      >
    </div>
  </div>
  <div class="title">
    <h1>THEWORDISBIRD</h1>
    <button popovertarget="mobile-nav" id="mobile-nav-toggle" type="button">
      <hr id="top-bun" />
      <hr id="patty" />
      <hr id="bottom-bun" />
    </button>
  <nav popover id="mobile-nav">
    <ul>
      <li><a class="nav__item" href="/">Home</a></li>
      <li><a class="nav__item" href="/portfolio">Portfolio</a></li>
      <li><a class="nav__item" href="/blog">Blog</a></li>
    </ul>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a class="nav__item" href="/">Home</a></li>
      <li><a class="nav__item" href="/portfolio">Portfolio</a></li>
      <li><a class="nav__item" href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
