---

---

<style>
  .main-nav {
    width: 100%;
    position: fixed;
    top: 4.55em;
    right: 0;
    background: var(--theme-background-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;

    @media screen and (min-width: 48rem) {
      position: unset;
      max-height: 100%;
      background: var(--theme-background-color);
      display: block;
    }
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;

    & li {
      border-bottom: 1px solid var(--theme-secondary-border-color);
    }

    @media screen and (min-width: 48rem) {
      display: flex;
      justify-content: space-around;
    }
  }

  .nav__item {
    display: block;
    color: var(--theme-font-color);
    margin: 16px;
    text-decoration: none;

    &:hover::after {
      content: ":)";
      float: right;
    }
    @media screen and (min-width: 48rem) {
      width: 5em;
      display: block;
      text-decoration: none;
      margin: 0 auto;
      text-align: center;
      color: var(--theme-font-color-inverse);
      padding: 0.25em;
      background: var(--theme-background-color-inverse);
      border-radius: 4px;

      &:hover {
        text-decoration: underline;
      }

      &:hover::after {
        all: unset;
      }
    }
  }

  #mobile-nav-toggle {
    width: 2em;
    height: 2px;
    background: var(--color-black);
    border: none;
    align-self: center;
    position: relative;
    padding: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: inherit;
      height: 2px;
      background: var(--color-black);
      position: absolute;
      top: 0.5em;
      transition: all 0.2s ease-out;
    }

    &::after {
      top: -0.5em;
    }

    @media screen and (min-width: 48rem) {
      display: none;
    }
  }

  #mobile-nav-toggle:focus,
  #mobile-nav-toggle:focus-within {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  #mobile-nav-toggle:focus ~ nav,
  #mobile-nav-toggle:focus-within ~ nav {
    max-height: 100%;
  }
</style>
<button type="button" id="mobile-nav-toggle"></button>
<nav class="main-nav">
  <ul class="menu">
    <li><a class="nav__item" href="/">Home</a></li>
    <li><a class="nav__item" href="/portfolio">Portfolio</a></li>
    <li><a class="nav__item" href="/blog">Blog</a></li>
  </ul>
</nav>
<script>
  const navToggle = document.getElementById("mobile-nav-toggle");

  let state = false;
  navToggle!.addEventListener("click", function toggleNav() {
    if (state) {
      navToggle?.blur();
      state = false;
    } else {
      navToggle?.focus();
      state = true;
    }
  });
</script>
